<% if logged_in? %>

<% # TODO Need to add House creation link/button %>
<a href="/houses/new">Create a House</a>
<a href="/houses/">View your houses</a>
<% # TODO Need to add Character creation link/button %>
<a href="/characters/new">Create a Character</a>
<a href="/characters/">View your Characters</a>

<a href="/logout">Log Out</a>

<% else %>

<a href="/users/new">Create Account</a>
<a href="/session/new">Log In</a>

<% end %>
